extends ../../layout/main

block variables
  - var title = 'Form Elements'
  - var description = 'Form Elements description'

block content
  .container
    include ../../components/logo/logo
    +logo('grey')
