extends ../../layout/main

block variables
  - var title = 'Form Elements'
  - var description = 'Form Elements description'

block content
  .container
    include ../../components/logo/logo
    +logo('grey')
    //- all form elements included in layout/main.pug
    .form-elements-wrapper
      .form-elements-container
        +input-field({heading: 'text field', 
                      status: 'default', 
                      type: 'text', 
                      placeholder: 'Email'})
        +input-field({heading: 'text field', 
                      status: 'hover / focus', 
                      type: 'text', 
                      placeholder: 'Email', 
                      value: 'This is pretty awesome',
                      class: 'focused'})
        +input-field({heading: 'dropdown', 
                      status: 'default', 
                      type: 'text', 
                      placeholder: 'Сколько гостей', 
                      value: 'Сколько гостей',
                      class: 'dropdown',
                      isDropdown: true,
                      readonly: 'readonly',
                      whatToDoWithValues: 'count',
                      dropdownData: [
                      {key: 'взрослые',value: '0'},
                      {key: 'дети',value: '0'},
                      {key: 'младенцы',value: '0'}]})
        +input-field({heading: 'masked text field', 
                      status: 'default', 
                      type: 'text',
                      pattern: 'dd.MM.yyyy', 
                      placeholder: 'ДД.ММ.ГГГГ', 
                      value: '',
                      class: ''})
        .date-fields-on-one-row
          +date-field({heading: 'date dropdown', 
                        status: '', 
                        type: 'text',
                        pattern: 'dd.MM.yyyy', 
                        placeholder: 'ДД.ММ.ГГГГ', 
                        value: '',
                        isDropdown: true,
                        class: 'date dropdown'})
          +date-field({heading: 'date dropdown', 
                        status: '', 
                        type: 'text',
                        pattern: 'dd.MM.yyyy', 
                        placeholder: 'ДД.ММ.ГГГГ', 
                        value: '',
                        isDropdown: true,
                        class: 'date dropdown'})

        .form-elements-short-container
          +date-field({heading: 'filter date dropdown', 
                        status: '', 
                        type: 'text',
                        pattern: 'dd.MM.yyyy', 
                        placeholder: 'ДД.ММ.ГГГГ', 
                        value: '',
                        isDropdown: true,
                        class: 'date dropdown'})
          +input-field-subscription({heading: 'subscription text field', 
                                    status: '', 
                                    type: 'email', 
                                    placeholder: 'Email', 
                                    value: '',
                                    class: ''})

        
        
      
      .form-elements-container
        .h3-ref Checkbox Buttons
        // id name headingText paragraphText
        .form-elements-short-container
          +checkbox({ id: 'checkboxId1', 
                      name: 'inputName',
                      headingText: 'Можно курить',
                      paragraphText: '',
                      isChecked: false})
          +checkbox({ id: 'checkboxId2', 
                      name: 'inputName',
                      headingText: 'Можно с питомцами',
                      paragraphText: '',
                      isChecked: true})
          +checkbox({ id: 'checkboxId3', 
                      name: 'inputName',
                      headingText: 'Можно пригласить гостей (до 10 человек)',
                      paragraphText: '',
                      isChecked: true})

        .h3-ref radio Buttons
        // id name headingText paragraphText
        .form-elements-short-container.radio-container
          +radio({id: 'radioId1', 
                  name: 'inputName',
                  headingText: 'Женщина',
                  paragraphText: '',
                  isChecked: true})
          +radio({id: 'radioId2', 
                  name: 'inputName',
                  headingText: 'Мужчина',
                  paragraphText: '',
                  isChecked: false})
        
        .h3-ref toggle
        // id name headingText paragraphText
        .form-elements-short-container
          +toggle({id: 'toggleId1', 
                  name: 'inputName',
                  headingText: 'Получать спецпредложения',
                  paragraphText: '',
                  isChecked: true})
          +toggle({id: 'toggleId2', 
                  name: 'inputName',
                  headingText: 'Получать спецпредложения',
                  paragraphText: '',
                  isChecked: false})
        
        .h3-ref like button
        // id name headingText paragraphText
        .form-elements-short-container.like-container
          +like({id: 'likeId1', 
                  name: 'inputName',
                  likesTotal: 2,
                  isChecked: false})
          +like({id: 'likeId2', 
                  name: 'inputName',
                  likesTotal: 12,
                  isChecked: true})

        .h3-ref rate button
        // starsAmount starsChoosed nameOfId
        .form-elements-short-container.rate-container
          +rate({starsAmount: 5, starsChoosed: 4, nameOfId: 'firstStars'})
          +rate({starsAmount: 5, starsChoosed: 5, nameOfId: 'secondStars'})

      .form-elements-container
        .h3-ref Range Slider
        // 
        .form-elements-short-container
          +range-slider()

        .h3-ref buttons
        // type, text, isWide
        .form-elements-short-container.buttons-container
          +buttons({type:'fill',
                    text: 'CLICK ME',
                    isWide: false}
                  )
          +buttons({type:'fill',
                    text: 'CLICK ME',
                    isWide: false}
                  ).hovered
          +buttons({type:'stroke',
                    text: 'CLICK ME',
                    isWide: false}
                  )
          +buttons({type:'stroke',
                    text: 'CLICK ME',
                    isWide: false}
                  ).hovered
          +buttons({type:'link',
                    text: 'CLICK ME',
                    isWide: false}
                  )
          +buttons({type:'link',
                    text: 'CLICK ME',
                    isWide: false}
                  ).hovered

        +buttons({type:'fill',
                  text: 'перейти к оплате',
                  isWide: true}
                )
                
        .h3-ref pagination
        // type, text, isWide
        .form-elements-short-container
          +pagination()

    .form-elements-wrapper
      .form-elements-container
        .form-elements-short-container
          +input-field({heading: 'dropdown', 
                        status: 'default', 
                        type: 'text', 
                        placeholder: 'Комнаты', 
                        value: 'Комнаты',
                        class: 'dropdown',
                        isDropdown: true,
                        readonly: 'readonly',
                        whatToDoWithValues: 'toString',
                        dropdownData: [
                        {key: 'спальни',value: '2'},
                        {key: 'кровати',value: '2'},
                        {key: 'ванные комнаты',value: '0'}]})
          +input-field({heading: 'dropdown', 
                      status: 'expanded', 
                      type: 'text', 
                      placeholder: 'Комнаты', 
                      value: 'Комнаты',
                      class: 'dropdown focused',
                      isDropdown: true,
                      readonly: 'readonly',
                      whatToDoWithValues: 'toString',
                      dropdownData: [
                      {key: 'спальни',value: '2'},
                      {key: 'кровати',value: '2'},
                      {key: 'ванные комнаты',value: '0'}]})

        .form-elements-short-container.margin-for-expandable-checkbox-list
          +expandable('expandable checkbox list', true)
            +checkbox({ id: 'expandableCheckboxId1', 
                        name: 'inputName',
                        headingText: 'Завтрак',
                        paragraphText: '',
                        isChecked: false})
            +checkbox({ id: 'expandableCheckboxId2', 
                        name: 'inputName',
                        headingText: 'Письменный стол',
                        paragraphText: '',
                        isChecked: true})
            +checkbox({ id: 'expandableCheckboxId3', 
                        name: 'inputName',
                        headingText: 'Стул для кормления',
                        paragraphText: '',
                        isChecked: true})
            +checkbox({ id: 'expandableCheckboxId4', 
                        name: 'inputName',
                        headingText: 'Кроватка',
                        paragraphText: '',
                        isChecked: true})
            +checkbox({ id: 'expandableCheckboxId5', 
                        name: 'inputName',
                        headingText: 'Телевизор',
                        paragraphText: '',
                        isChecked: false})
            +checkbox({ id: 'expandableCheckboxId6', 
                        name: 'inputName',
                        headingText: 'Шампунь',
                        paragraphText: '',
                        isChecked: false})
            +checkbox({ id: 'expandableCheckboxId7', 
                        name: 'inputName',
                        headingText: 'Телевизор',
                        paragraphText: '',
                        isChecked: false})
            +checkbox({ id: 'expandableCheckboxId8', 
                        name: 'inputName',
                        headingText: 'Шампунь',
                        paragraphText: '',
                        isChecked: false})
          +expandable('expandable checkbox list', false)
            +checkbox({ id: 'expandableCheckboxId1', 
                        name: 'inputName',
                        headingText: 'Завтрак',
                        paragraphText: '',
                        isChecked: false})
            +checkbox({ id: 'expandableCheckboxId2', 
                        name: 'inputName',
                        headingText: 'Письменный стол',
                        paragraphText: '',
                        isChecked: true})
            +checkbox({ id: 'expandableCheckboxId3', 
                        name: 'inputName',
                        headingText: 'Стул для кормления',
                        paragraphText: '',
                        isChecked: true})
            +checkbox({ id: 'expandableCheckboxId4', 
                        name: 'inputName',
                        headingText: 'Кроватка',
                        paragraphText: '',
                        isChecked: true})
            +checkbox({ id: 'expandableCheckboxId5', 
                        name: 'inputName',
                        headingText: 'Телевизор',
                        paragraphText: '',
                        isChecked: false})
            +checkbox({ id: 'expandableCheckboxId6', 
                        name: 'inputName',
                        headingText: 'Шампунь',
                        paragraphText: '',
                        isChecked: false})
            +checkbox({ id: 'expandableCheckboxId7', 
                        name: 'inputName',
                        headingText: 'Телевизор',
                        paragraphText: '',
                        isChecked: false})
            +checkbox({ id: 'expandableCheckboxId8', 
                        name: 'inputName',
                        headingText: 'Шампунь',
                        paragraphText: '',
                        isChecked: false})
        
        //- .form-elements-short-container
        +icon-text-list({ img: 'smiley-face.svg',
                          alt: 'smiley-face icon',
                          headingText: 'Комфорт',
                          paragraphText: 'Шумопоглощающие стены'})
        +icon-text-list({ img: 'location_city.svg',
                          alt: 'location_city icon',
                          headingText: 'Удобство',
                          paragraphText: 'Окно в каждой из спален'})

      .form-elements-container
        +input-field({heading: 'dropdown', 
                      status: '', 
                      type: 'text', 
                      placeholder: 'Сколько гостей', 
                      value: 'Сколько гостей',
                      class: 'dropdown focused',
                      isDropdown: true,
                      addButtons: true,
                      readonly: 'readonly',
                      whatToDoWithValues: 'count',
                      dropdownData: [
                      {key: 'взрослые',value: '0'},
                      {key: 'дети',value: '0'},
                      {key: 'младенцы',value: '0'}]})

        
        .form-elements-short-container.margin-for-elements-after-dropdown
          .h3-ref Rich Checkbox Buttons
          // id name headingText paragraphText isChecked
          +checkbox({ id: 'richCheckboxId1', 
                      name: 'inputName',
                      headingText: 'Широкий коридор',
                      paragraphText: 'Ширина коридоров в номере не менее 91 см.',
                      isChecked: false})
          +checkbox({ id: 'richCheckboxId2', 
                      name: 'inputName',
                      headingText: 'Помощник для инвалидов',
                      paragraphText: 'На 1 этаже вас встретит специалист и проводит до номера.',
                      isChecked: false})
      
      .form-elements-container
        +input-field({heading: 'dropdown', 
                      status: '', 
                      type: 'text', 
                      placeholder: 'Сколько гостей', 
                      value: 'Сколько гостей',
                      class: 'dropdown focused',
                      isDropdown: true,
                      addButtons: true,
                      readonly: 'readonly',
                      whatToDoWithValues: 'count',
                      dropdownData: [
                      {key: 'взрослые',value: '2'},
                      {key: 'дети',value: '1'},
                      {key: 'младенцы',value: '0'}]})

        .form-elements-short-container.margin-for-elements-after-dropdown
          .h3-ref bullet list
          +bullet-list(
            ['Нельзя с питомцами',
            'Без вечеринок и мероприятий',
            'Время прибытия — после 13:00,<br> а выезд до 12:00'])