.form-elements-wrapper{
  display: flex;
  justify-content: space-around;
}
.form-elements-container{
  width: 320px;
  .input-field,
  .date-field{
    margin-bottom: 20px;
  }
  .checkbox,
  .radio{
    margin: 10px 0;
  }

  .date-fields-on-one-row{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .date-field{
      flex-basis: 150px;
    }
  }
}
.form-elements-short-container{
  width: 266px;
  &.radio-container{
    display: flex;
    flex-direction: row;

    .radio:not(:last-child){
      margin-right: 20px;
    }
  }
}


