.form-elements-wrapper{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 90px;
  padding-top: 143px;
}
.form-elements-container{
  flex-shrink: 0;
  width: 320px;
  .input-field,
  .date-field{
    margin-bottom: 20px;
  }
  .checkbox,
  .radio,
  .toggle{
    margin: 10px 0;
  }
  

  .date-fields-on-one-row{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .date-field{
      flex-basis: 150px;
    }
  }
  .btnWide{
    flex-shrink: 0;
    margin: 0 20px 30px 0;
  }
}
.form-elements-short-container{
  width: 266px;
  &.radio-container{
    display: flex;
    flex-direction: row;

    .radio:not(:last-child){
      margin-right: 20px;
    }
  }

  &.like-container{
    display: flex;
    flex-direction: row;
    .like{
      margin: 10px 10px 10px 0;
    }
  }
  &.rate-container{
    display: flex;
    flex-direction: row;
    .stars{
      margin: 10px 20px 0 0;
    }
  }
  &.buttons-container{
    display: flex;
    flex-wrap: wrap;
    padding-top: 16px;
    .btn{
      flex-shrink: 0;
      margin: 0 20px 30px 0;
    }
  }
  .range-slider{
    margin-top: -20px;
  }

  &.margin-for-elements-after-dropdown{
    margin-top: 250px;
    .h3-ref{
      margin-bottom: 18px;
    }
  }
  &.margin-for-expandable-checkbox-list{
    margin-top: 172px;
    .expandable{
      margin-top: 50px;
    }
  }
}


