
mixin pagination()
  .pagination
    .pagination-btn-wrapper
      button.btn--current=1
      button=2
      button=3
      button='...'
      button=15
      button.btn--arrow
    p.pagination-text='1 – 12 из 100+ вариантов аренды'