mixin logo(type)
  if (type == 'grey')
    img(src="/assets/img/logo-grey.svg", alt="logo grey").logo-grey
  if (type == 'colored')
    img(src="/assets/img/logo-colored.svg", alt="logo colored").logo-colored
  if (type == 'colored-text')
    img(src="/assets/img/logo-colored-text.svg", alt="logo colored with text").logo-colored-text