.colors-type-container{
  display: flex;
  justify-content: space-between;
  padding: 145px 150px 0;
}
.color-square-container{
  display: flex;
  flex-direction: column;
}


.heading-type-container{
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}