extends ../../layout/main

block variables
  - var title = 'Headers & Footers'
  - var description = 'Headers & Footers description'

block content

  include ../../components/header/header
  .headers-wrapper
    +header()
    +header().--logged-in

  .container(style="background-color: #E5E5E5; min-height: 100vh;")
    include ../../components/logo/logo
    +logo('grey')

    
    
    