.toggle{
  display: flex;
  flex-direction: row;
  user-select: none;
  cursor: pointer;
  input{
    // visibility: hidden;
    display: none;
  }
  .toggle-custom{
    width: 40px;
    height: 20px;
    border: 1px solid $dark-25-color;
    flex-shrink: 0;
    border-radius: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    &::after{
      display: block;
      content: '';
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: $dark-25-color;
      margin: 0 4px;
    }
  }

  input:checked + .toggle-custom{
    border: 1px solid $primary-color;
    justify-content: flex-end;
    &::after{
      display: block;
      content: '';
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: $primary-linear-gradient;
    }
  }









  .toggle-text{
    display: flex;
    line-height: 18px;
    color: $dark-50-color;
    
  }
}