.checkbox{
  display: flex;
  flex-direction: row;
  user-select: none;
  cursor: pointer;
  input{
    // visibility: hidden;
    display: none;
  }
  .checkbox-custom{
    width: 20px;
    height: 20px;
    border: 1px solid $dark-25-color;
    flex-shrink: 0;
    border-radius: 4px;
    margin-right: 10px;
  }

  input:checked + .checkbox-custom{
    border: 1px solid $primary-color;
    background-image: url(/assets/img/check.svg);
    background-position: center;
    background-repeat: no-repeat;
  }









  .checkbox-text{
    display: flex;
    flex-direction: column;
    line-height: 18px;
    color: $dark-50-color;

    .checkbox-text_heading{
      font-family: 'Conv_Montserrat-Bold';
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 18px;
      color: $dark-75-color;
      margin-bottom: 6px;
    }
    .checkbox-text_paragraph{
      font-size: 12px;
      line-height: 14px;
    }
  }
}