extends ../layout/main

block variables
  - var title = 'Colors & Type'
  - var description = 'Colors & Type description'

//- block header
//-   include ../components/header/header

block content
  section
    .container
      include ../components/color-square/color-square
      +color-square('Dark Shade 100%','#1F2041','dark-color')
      +color-square('Dark Shade 75%','#1F2041','dark-75-color')
      +color-square('Dark Shade 50%','#1F2041','dark-50-color')
      +color-square('Dark Shade 25%','#1F2041','dark-25-color')
      +color-square('Dark Shade 5%','#1F2041','dark-5-color')
      +color-square('Purple','#BC9CFF','primary-color')
      +color-square('Green','#6FCF97','secondary-color')
      
      //- +item('item title', 'item desc')
      //- +item('item title', 'item desc')
      //- +item('item title', 'item desc')
