extends ../layout/main

block variables
  - var title = 'Colors & Type'
  - var description = 'Colors & Type description'

//- block header
//-   include ../components/header/header

block content
  section
    .container
      include ../components/color-square/color-square
      //- +item('item title', 'item desc')
      //- +item('item title', 'item desc')
      //- +item('item title', 'item desc')
