extends ../layout/main

block variables
  - var title = 'Webpack + pug'
  - var description = 'description Webpack + pug'
  - var pageClass = 'index-page'

block content
  section
    .container
      +item('item title', 'item desc')
      +item('item title', 'item desc')
      +item('item title', 'item desc')
