extends ../../layout/main

block variables
  - var title = 'Cards'
  - var description = 'Cards description'

block content
  .container(style="background-color: #E5E5E5; min-height: 100vh;")
    include ../../components/logo/logo
    +logo('grey')
    include ../../components/find-room/find-room
    include ../../components/sign-up/sign-up
    include ../../components/sign-in/sign-in
    include ../../components/reservation/reservation
    include ../../components/room-preview/room-preview
    
    .cards-elements-wrapper
      //- .cards-elements-container
      +find-room()
      +reservation()
      .date
      +sign-up()
      +sign-in()
      
      .room-previews-wrapper
        +room-preview({ roomNumber: 888,
                        numOfReviews: 145,
                        roomPrice: 9990,
                        starRating: 5})
        +room-preview({ roomNumber: 840,
                        numOfReviews: 65,
                        roomPrice: 9900,
                        starRating: 4})
        
        