extends ../../layout/main

block variables
  - var title = 'Cards'
  - var description = 'Cards description'

block content
  .container
    include ../../components/logo/logo
    +logo('grey')
    
    .form-elements-wrapper
      .form-elements-container
        