extends ../../layout/main

block variables
  - var title = 'Index page'
  - var description = 'Index page description'

block content
  section
    .container
      a(href="colors-type.html") Colors & types
      br
      a(href="form-elements.html") Form Elements
      br
      a(href="cards.html") Cards
      br
      a(href="headersAndFooters.html") Headers & Footers
      