extends ../../layout/main

block variables
  - var title = 'Index page'
  - var description = 'Index page description'

block content
  section
    .container
      a(href="colors-type.html") Colors & types