.date-field{
  width: 100%;
}
.date-field .date-field_text-wrapper .date-field--status{
  font-family: 'Conv_Montserrat-Regular'; 
  font-weight: normal;
  color: $dark-50-color;
}

.date-field .date-field_text-wrapper{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.date-field .date-field_input{
  width: 100%;
  height: 44px;
  border: 1px solid $dark-25-color;
  border-radius: 4px;
  padding: 0 15px 0 15px;
  color: $dark-75-color;
  transition-duration: .25s;
  transition-timing-function: ease-in-out;
  cursor: pointer;
  background-color: #fff;
}
.date-field .date-field_input::placeholder{
  color: $dark-25-color;
}
.date-field .date-field_input.focused,
.date-field .date-field_input-wrapper:hover .date-field_input,
.date-field .date-field_input-wrapper .date-field_input:focus{
  border-color: $dark-50-color;
}
.date-field .date-field_input.dropdown{
  // text-overflow: ellipsis;
  // padding-right: 60px;
}

.date-field .date-field_input-wrapper{
  position: relative;
}
.date-field .date-field_dropdown-arrow{
  width: 44px;
  height: 44px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  pointer-events: none;
}

.date-field .date-field_dropdown-arrow .dropdown-img{
  width: 100%;
  height: 100%;
  opacity: .5;
  transition-duration: .25s;
  transition-timing-function: ease-in-out;
  padding: 15px;
}


// when dropdown .date-field_input-wrapper hovered/focused change opacity of dropdown-img
.date-field .date-field_input-wrapper .date-field_input.focused  + .date-field_dropdown-arrow .dropdown-img,
.date-field .date-field_input-wrapper:hover .date-field_dropdown-arrow .dropdown-img,
.date-field .date-field_input-wrapper .date-field_input:focus + .date-field_dropdown-arrow .dropdown-img{
  width: 100%;
  height: 100%;
  opacity: .75;
}

// calendar styling
.custom.datepicker{
  box-sizing: border-box;
  border: 1px solid $dark-25-color;
  width: 320px;
  height: 369px;
  color: $dark-50-color;
  font-family: "Conv_Montserrat-Regular";
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  padding: 11px 12px 0;
  .datepicker--pointer{
    display: none;
  }

  .datepicker--cells{
    justify-content: center ;
    .datepicker--cell{
      border-radius: 50%;

// when current/single .custom.datepicker .datepicker--cells .datepicker--cell.-selected-
// range between  .datepicker--cell datepicker--cell-day -in-range-
// when range     .datepicker--cell datepicker--cell-day -range-from- -selected-
//                .datepicker--cell datepicker--cell-day -range-to- -selected-

      position: relative;
      
      &.-selected-,
      &.-current-{
        background-image: $secondary-linear-gradient;
        color: #fff;
        &.-range-from-{
          background-image: $primary-linear-gradient;
          &::after{
            content: '';
            position: absolute;
            width: 40px;
            height: 40px;
            background-image: $primary-linear-gradient;
            opacity: .25;
            z-index: -1;
            border-radius: 50% 0 0 50%;
          }
        }
        &.-range-to-{
          background-image: $primary-linear-gradient;
          &::after{
            content: '';
            position: absolute;
            width: 40px;
            height: 40px;
            background-image: $primary-linear-gradient;
            opacity: .25;
            z-index: -1;
            border-radius: 0 50% 50% 0;
          }
        }
        &.-range-from-.-range-to-{
          &::after{
            content: '';
            position: absolute;
            width: 40px;
            height: 40px;
            background-image: $primary-linear-gradient;
            opacity: .25;
            z-index: -1;
            border-radius: 50%;
          }
        }
      }
      
      &.-in-range-{
        // background-image: $primary-linear-gradient;
        background: none;
        &::after{
          content: '';
          position: absolute;
          width: 40px;
          height: 40px;
          background-image: $primary-linear-gradient;
          opacity: .25;
          z-index: -1;
        }
        border-radius: 0;
        color: $dark-50-color;
      }
    }
  }
}

.custom.datepicker .datepicker--nav{
  border-bottom: none;
}

.custom.datepicker .datepicker--nav-title,
.custom.datepicker .datepicker--nav-title i{
  @extend .h2-ref;
}

.custom.datepicker .datepicker--nav-action svg{
  display: none;
}

.custom.datepicker .datepicker--nav-action[data-action]:before{
  content: '';
  width: 32px;
  height: 32px;
  background-image: url(/assets/img/arrow_forward.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.custom.datepicker .datepicker--nav-action[data-action='prev']:before{
  transform: rotate(180deg)
}

.custom.datepicker .datepicker--days-names{
  display: flex;
  justify-content: space-around;
  padding: 23px 3px 8px;
  .datepicker--day-name{
    font-family: 'Conv_Montserrat-Bold';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: $primary-color;
    text-transform: capitalize;
  }
}


.datepicker--cell-day{
  width: 40px;
  height: 40px;
}