extends ../../layout/main

block variables
  - var title = 'Landing Page'
  - var description = 'Landing Page description'

block content

  include ../../components/header/header
  include ../../components/footer-with-copyright/footer-with-copyright
  include ../../components/footer-creative/footer-creative
  include ../../components/room-preview/room-preview

  +header({loggedIn: false})
  
  
  .search-room
    .container.search-room_container
      .search-room_left-side
        +date-field({heading: 'даты пребывания в отеле', 
                        status: '', 
                        type: 'text',
                        pattern: 'dd.MM.yyyy', 
                        placeholder: 'ДД.ММ.ГГГГ', 
                        value: '',
                        isDropdown: true,
                        class: 'date dropdown'})
        +input-field({heading: 'Гости', 
                      status: '', 
                      type: 'text', 
                      placeholder: 'Сколько гостей', 
                      value: 'Сколько гостей',
                      class: 'dropdown',
                      isDropdown: true,
                      addButtons: true,
                      readonly: 'readonly',
                      whatToDoWithValues: 'count',
                      dropdownData: [
                      {key: 'взрослые',value: '0'},
                      {key: 'дети',value: '0'},
                      {key: 'младенцы',value: '0'}]})
        .h3-ref.range-slider_heading диапазон цены
        +range-slider()
        span.range-slider_after-text Стоимость за сутки пребывания в номере
        .h3-ref.checkbox_heading-text Checkbox Buttons
        +checkbox({ id: 'checkboxId1', 
                      name: 'inputName',
                      headingText: 'Можно курить',
                      paragraphText: '',
                      isChecked: false})
        +checkbox({ id: 'checkboxId2', 
                    name: 'inputName',
                    headingText: 'Можно с питомцами',
                    paragraphText: '',
                    isChecked: true})
        +checkbox({ id: 'checkboxId3', 
                    name: 'inputName',
                    headingText: 'Можно пригласить гостей (до 10 человек)',
                    paragraphText: '',
                    isChecked: true})
        .h3-ref.checkbox_heading-text Доступность
        +checkbox({ id: 'richCheckboxId1', 
                    name: 'inputName',
                    headingText: 'Широкий коридор',
                    paragraphText: 'Ширина коридоров в номере не менее 91 см.',
                    isChecked: false})
        +checkbox({ id: 'richCheckboxId2', 
                    name: 'inputName',
                    headingText: 'Помощник для инвалидов',
                    paragraphText: 'На 1 этаже вас встретит специалист и проводит до номера.',
                    isChecked: false})
        +input-field({heading: 'удобства номера', 
                        status: '', 
                        type: 'text', 
                        placeholder: 'Комнаты', 
                        value: 'Комнаты',
                        class: 'dropdown search-room--margin-top',
                        isDropdown: true,
                        readonly: 'readonly',
                        whatToDoWithValues: 'toString',
                        dropdownData: [
                        {key: 'спальни',value: '2'},
                        {key: 'кровати',value: '2'},
                        {key: 'ванные комнаты',value: '0'}]}).input-field--top-margin
        +expandable('дополнительные удобства', true)
            +checkbox({ id: 'expandableCheckboxId1', 
                        name: 'inputName',
                        headingText: 'Завтрак',
                        paragraphText: '',
                        isChecked: false})
            +checkbox({ id: 'expandableCheckboxId2', 
                        name: 'inputName',
                        headingText: 'Письменный стол',
                        paragraphText: '',
                        isChecked: true})
            +checkbox({ id: 'expandableCheckboxId3', 
                        name: 'inputName',
                        headingText: 'Стул для кормления',
                        paragraphText: '',
                        isChecked: true})
            +checkbox({ id: 'expandableCheckboxId4', 
                        name: 'inputName',
                        headingText: 'Кроватка',
                        paragraphText: '',
                        isChecked: true})
            +checkbox({ id: 'expandableCheckboxId5', 
                        name: 'inputName',
                        headingText: 'Телевизор',
                        paragraphText: '',
                        isChecked: false})
            +checkbox({ id: 'expandableCheckboxId6', 
                        name: 'inputName',
                        headingText: 'Шампунь',
                        paragraphText: '',
                        isChecked: false})
            +checkbox({ id: 'expandableCheckboxId7', 
                        name: 'inputName',
                        headingText: 'Телевизор',
                        paragraphText: '',
                        isChecked: false})
            +checkbox({ id: 'expandableCheckboxId8', 
                        name: 'inputName',
                        headingText: 'Шампунь',
                        paragraphText: '',
                        isChecked: false})
        
      .serch-room_main-content
        h1.h1-ref.serch-room_main-content-text Номера, которые мы для вас подобрали
        -var rooms = [{roomNumber: 888,numOfReviews: 145,roomPrice: 9990,starRating: 5},{roomNumber: 840,numOfReviews: 65,roomPrice: 9900,starRating: 4},{roomNumber: 980,numOfReviews: 35,roomPrice: 8500,starRating: 3},{roomNumber: 856,numOfReviews: 19,roomPrice: 7300,starRating: 5},{roomNumber: 740,numOfReviews: 44,roomPrice: 6000,starRating: 4},{roomNumber: 982,numOfReviews: 56,roomPrice: 5800,starRating: 3},{roomNumber: 678,numOfReviews: 45,roomPrice: 5500,starRating: 5},{roomNumber: 450,numOfReviews: 39,roomPrice: 5300,starRating: 4},{roomNumber: 350,numOfReviews: 77,roomPrice: 5000,starRating: 3},{roomNumber: 666,numOfReviews: 25,roomPrice: 5000,starRating: 5},{roomNumber: 444,numOfReviews: 15,roomPrice: 5000,starRating: 3},{roomNumber: 352,numOfReviews: 55,roomPrice: 5000,starRating: 3}]
          each room in rooms
            +room-preview(room)
        .search-room_pagination-wrapper
          +pagination()

    
  +footer-with-copyright()
    