include ../text/text

mixin color-square(colorName,colorHex,colorProvided)
  .color-square&attributes(attributes)
    div(class=`color-square_square color-square_square--${colorProvided}`)

    .color-square_text-wrapper.color-square_text.h2-ref
      +text('h2',colorName)
      +text('h2',colorHex).color-square_text--weight-regular

mixin heading-type(tag,tagName,elClass,string)
  .heading-type&attributes(attributes)
    +text(tag,tagName)(class=`${elClass}`).heading-type_type
    +text(tag,string)(class=`${elClass}`)